In [264]:
import zipfile
import pandas as pd
import numpy as np
from collections import defaultdict

## Names dataset for assigning gender

Top 100 US baby names with their gender since 1880

https://www.ssa.gov/oact/babynames/limits.html

In [242]:
zf = zipfile.ZipFile('/data/names.zip')

names = defaultdict(lambda: [0,0])

for name in zf.namelist():
    if name[-4:] == ".txt":
        f = zf.open(name)
        for line in f.readlines():
            elements = line.decode("utf-8").split(",")
            
            current_counts = names[elements[0]]
            
            if elements[1] == 'M':
                names[elements[0]] = [current_counts[0] + int(elements[2]), current_counts[1]]
            else:
                names[elements[0]] = [current_counts[0], current_counts[1] + int(elements[2])]
                                    
zf.close()

In [243]:
def m_or_f(name):
    m = names[name][0]
    f = names[name][1]
    
    if m > f:
        return ['M', m / (m + f)]
    elif f > m:
        return ['F', f / (m + f)]
    else:
        return [None, 0]

## Load salary data

In [346]:
salaries = pd.read_csv('/data/2015-combined-salary-seconded-en.csv')

salaries['Salary Paid'] = salaries['Salary Paid']
salaries['gender'] = salaries['First name'].apply( lambda x: m_or_f(x)[0] )
print("Matched", len(salaries) - len(salaries[ salaries['gender'].isnull() ]), "names out of", len(salaries), "entries")

Matched 97634 names out of 115431 entries

In [347]:
salaries[salaries['gender'] == 'M']['Salary Paid']

0         $106,143.80
4         $192,375.37
5         $124,071.75
7         $121,582.50
9         $149,525.23
14        $104,120.49
15        $101,276.76
17        $114,006.48
18        $106,943.00
19        $123,303.70
20        $106,848.00
24        $123,872.04
30        $103,933.18
31        $120,511.43
39        $105,820.17
42        $108,038.74
44        $118,262.35
46        $107,648.98
47        $131,000.22
48        $153,827.65
50        $111,431.43
51        $104,856.02
52        $114,258.06
53        $108,172.97
54        $109,424.15
55        $120,305.36
56        $114,646.16
58        $105,404.34
59        $108,172.97
60        $114,647.26
             ...
115352    $143,648.45
115353    $121,624.88
115354    $102,547.73
115355    $182,907.45
115359    $125,192.07
115360    $121,624.88
115361    $123,031.00
115362    $208,769.28
115366    $108,125.55
115368    $153,909.47
115371    $100,346.14
115372    $138,419.21
115376    $111,717.13
115379    $164,427.73
115382    $113,484.48
115386    $162,619.08
115389    $123,034.26
115392    $104,147.60
115393    $163,585.22
115394    $117,456.30
115399    $116,333.88
115401    $155,335.79
115410    $133,751.02
115415    $112,467.17
115416    $126,731.18
115425    $103,752.75
115426    $134,822.31
115427    $230,486.74
115429    $315,870.76
115430    $102,417.14
Name: Salary Paid, dtype: object